body {
    margin: 0;
}



.hading {
    background-image: url("/images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 10%;
}

.btn-color {
    margin-top: 10px;
    background-color: #FF5959;
    font-family: 'Inter', sans-serif;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;


}


.hading h1 {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    color: white;
    text-align: center;
}














footer {
    background-color: black;
    text-align: center;
    padding: 30px;

}

footer h1 {
    font-family: 'Lobster', cursive;
    color: #FF5959;
    font-size: 34px;
}

footer h4 {
    font-family: 'Manrope', sans-serif;
    color: #D9DBE1;
    font-size: 14px;
}